/* Fullscreen black background */
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: black; /* Black background */
}

/* Centered start text */
.start-text {
  font-size: 24px;
  color: white;
  cursor: pointer;
  text-align: center;
}

/* Square in the center */
.square {
  position: relative;
  width: 800px;
  height: 800px;
  background-color: black; /* Black background for interactive area */
  border: 2px solid white;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Small grey box with absolute positioning */
.white-box {
  position: absolute;
  width: 40px;
  height: 40px;
  background-color: rgb(19, 128, 132);
  transition: background-color 0.5s ease;
}

/* Flashing effect */
.flashed {
  background-color: white;
}

/* Button styles */
.next-button,
.retry-button,
.end-button {
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  background-color: white;
  border: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.next-button:hover,
.retry-button:hover,
.end-button:hover {
  background-color: lightskyblue;
}

.end-screen {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.end-message, .output {
  font-size: 24px;
  margin-bottom: 20px;
  color: white;
}

.restart-button {
  font-size: 18px;
  padding: 10px 20px;
  cursor: pointer;
}





